.login-container {
    margin-top: 0%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin-right: -0%;
    height: auto;

}
.login-container button{
    color: #0062cc;
    border: none;
    background: none;
    outline: none;
    margin-left: 10%;    
}
.login-form-1, .login-form-2 {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 5%;
    width: 50%;
    max-width: 500px;
    min-width: 280px;
    background: rgba(255, 255, 255, 0.9); 
    margin-left: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    
}
.login-form-1 .btnSubmit{
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    background-color: #fff;
    color: #0062cc;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.login-background {
    background-image: url('/calendario.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    height: 100vh; 
    margin: 0;
    padding: 0;
}
